body {
	/* Styles */
	font-family: "Overpass", "Segoe UI", "Helvetica", "Source Sans Pro", "Noto Sans", sans-serif;
	font-size: 12pt;
	display: block;
	background-color: #282828;
	color: #dbdbdb;
	margin: 0;
}

a {
	color: #0096cf;
	text-decoration: none;
}

a:hover, a:active, a:focus {
	color: #007cad;
	text-decoration: underline;
}

a:visited {
	color: #CF009F;
}

pre, code, pre code {
	font-family: "Noto Sans Mono", monospace;
}

pre code {
	background-color: rgba(0, 0, 0, 0.15);
}

div.separator {
	margin: 0;
	height: *;
	border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.bottom-grid-wrap {
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.icon {
	width: 35px;
	height: 35px;
	background-color: white;
	border-radius: 50%;
}

.warn-message {
	width: *;
	text-align: center;
	margin: 2em 0;
}

/* TOP BAR */

.header {
	font-size: 16pt;
	margin-top: *;
	margin-bottom: *;
}

#topbar {
	height: 50px;
	flow: horizontal;
	background-color: #383838;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

#topbar .left {
	width: 25%;
	max-width: 250px;
	flow: horizontal;
}

#topbar .left div.topbar-guild-button {
	width: 50px;
	height: 50px;
	background-color: #7289da;
	margin-right: 0.5em;
}

img.topbar-guild-button {
	margin: *;
	border-spacing: *;
}

.topbar-guild-name {
	white-space: nowrap;
	/*overflow: hidden; this breaks the guild name*/
	text-overflow: ellipsis;
}

.topbar-guild-name, .topbar-guild-button {
	cursor: pointer;
}

#topbar .right {
	width: 1*;
	flow: horizontal;
	margin-top: *;
	margin-bottom: *;
	margin-left: 0.5em;
	margin-right: 0.5em;
	border-spacing: *;
}

#topbar .right .topbar-channel-name:not(:empty)::before {
	content: "#";
}

#topbar .right .topbar-userinfo {
	text-align: right;
	flow: horizontal;
}

#topbar .right .topbar-userinfo .userinfo-username {
	margin-right: 0.5em;
}

#topbar .right .topbar-userinfo .userinfo-avatar {
	margin: 0;
	padding: 0;
	background-color: white;
	border: 2px solid;
	border-color: transparent;
	/* #43b581 for online, #f04747 for busy */
	cursor: pointer;
}

img.userinfo-avatar:hover {
	opacity: 0.75;
}

/* APP */

#app {
	flow: horizontal;
	height: 1*;
}

/* GUILD LIST */

.guild-list {
	width: 25%;
	max-width: 250px;
	height: 1*;
	visibility: collapse;
	border-right: 1px solid rgba(0, 0, 0, 0.25);
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	overflow: scroll;
}

.guild {
	flow: horizontal;
	cursor: pointer;
}

.guild:hover {
	transition: background-color(quint-out, 0.15s);
	background-color: rgba(0, 0, 0, 0.25);
}

.guild:active {
	background-color: rgba(0, 0, 0, 0.15);
}

.guild-icon {
	margin: 0.5em;
}

.guild-name {
	height: 1*;
	border-left: 1px solid rgba(0, 0, 0, 0.25);
	padding: 65%% 0;
	padding-left: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.5em;
}

/* CHANNEL LIST */

.channel-list {
	flow: vertical;
	width: 25%;
	max-width: 250px;
	height: 1*;
	overflow: scroll;
	visibility: visible;
	border-right: 1px solid rgba(0, 0, 0, 0.25);
}

p.category-name {
	text-transform: uppercase;
	font-size: 0.8em;
	opacity: 0.75;
	margin: 0;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
	cursor: pointer;
}

p.category-name:hover {
	opacity: 1;
}

.channel-list .category .channel {
	text-transform: none;
	font-size: 1em;
	opacity: 0.65;
	padding-left: 20px;
	padding-right: 20px;
	line-height: 1.75em;
	cursor: pointer;
}

.channel-list .category .channel:hover {
	transition: background-color(quint-out, 0.1s);
	background-color: rgba(0, 0, 0, 0.25);
}

.channel-list .category .channel:active {
	background-color: rgba(0, 0, 0, 0.15);
}

.channel-list .category .channel.unread {
	opacity: 1;
}

.channel-list .category .channel::before {
	content: "#";
	margin-right: 2px;
}

/* MESSAGES */

#app div.message-pane {
	width: 1*;
	height: 1*;
}

.messages {
	width: 1*;
	height: 1*;
	overflow: scroll;
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

/* MESSAGE */

.message {
	width: *;
	font-size: 11pt;
	flow: horizontal;
	border-top: 1px solid rgba(0, 0, 0, 0.25);
	margin-bottom: 7px;
}

.message.blocked {
	height: 2px;
	overflow: hidden;
}

.author-avatar {
	margin: 12px;
	margin-right: 10px;
	background-size: cover;
}

img.author-avatar[src=""] {
	/* Default fallback avatar */
	background-image: url("https://discordapp.com/assets/0e291f67c9274a1abdddeb3fd919cbaa.png");
}

.author {
	font-size: 0.9em;
	font-weight: bold;
	flow: horizontal;
}

.author-timestamp {
	font-size: 0.75em;
	font-weight: normal;
	color: white;
	opacity: 0.5;
	margin-top: *;
	margin-bottom: 1px;
	margin-left: 0.5em;
}

.message-container {
	width: 1*;
	flow: vertical;
	margin-top: 10px;
}

.message-content {
	width: 1*;
	padding-right: 1em;
	margin-bottom: 5px;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.message-content p {
	margin: 0;
	display: inline-block;
}

.emoji {
	size: 1.45em 1.45em;
	margin-left: .05em;
	margin-right: .1em;
	vertical-align: -.4em;
}

/* SEND FIELD */

div.message-input {
	flow: horizontal;
	height: 40px;
	width: 90%%;
	margin: 5px 5px;
	background-color: rgba(0, 0, 0, 0.25);
	border-radius: 20px;
}

.file-upload-button, .emoji-button {
	height: 25px;
	width: 25px;
	padding: 7px;
	opacity: 0.5;
	transition: opacity(quint-out, 0.25s);
	cursor: pointer;
}

.file-upload-button:hover, .emoji-button:hover {
	opacity: 1;
}

.message-input-area {
	display: block;
	size: 1* 40px;
	flow: horizontal;
	background: transparent;
	border: none;
	color: white;
}

.message-input-area>* {
	margin: * 0;
}

/* ATTACHMENTS */

.message-attachments, .message-attachments img {
	max-width: 400px;
	max-height: 500px;
	width: auto;
	height: auto;
	margin-bottom: 5px;
}

.attachment-file {
	background-color: rgba(0, 0, 0, 0.05);
	width: 300px;
	height: 50px;
	border-radius: 8px;
	margin: * 12px;
}

a.attachment-file-name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* EMBEDS */

.message-embed {
	background-color: rgba(0, 0, 0, 0.05);
	border-left: 3px solid gray;
	padding: 6px;
	flow: horizontal;
	max-width: 495px;
	margin: 5px 0;
}

.message-embed p {
	margin: 0;
}

.message-embed-main {
	width: 1*;
	flow: vertical;
}

p.message-embed-title {
	width: 1*;
	word-wrap: break-word;
}

.message-embed-main p, .message-embed-main a, .message-embed-main {
	font-size: 10pt !important;
}

.message-embed-thumbnail {
	margin-left: 5px;
}

.message-embed-thumbnail img {
	max-width: 80px;
	max-height: 120px;
	width: auto;
	height: auto;
}

.message-embed-footer, .message-embed-author {
	flow: horizontal;
}

p.message-embed-description {
	white-space: pre-wrap;
}

.message-embed-title:empty, .message-embed-description:empty {
	display: none;
}

.message-embed-author-icon, .message-embed-footer-icon {
	size: 20px 20px !important;
	margin-right: 3px;
}

.message-embed-author-icon {
	margin-bottom: 3px;
}

.message-embed-footer-icon {
	margin-top: 3px;
}

.message-embed-author a, .message-embed-footer p {
	margin: * 0;
}

.message-embed-author a, .message-embed-author a:hover, .message-embed-author a:visited, .message-embed-author a:focus {
	color: #eee;
	text-decoration: none;
}

.message-embed-author a:hover {
	text-decoration: underline !important;
}

.message-embed-fields {
	margin-top: 5px;
}

.message-embed-field-value {
	opacity: 0.75;
}

.message-embed-footer p {
	opacity: 0.75;
}